.about {
	display: flex;
	flex-direction: column;
	background-color: white;
	padding-bottom: 30px;
	max-width: 100%;
}
.image {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
	justify-content: flex-end;
}
.presentation {
	font-family: 'Raleway';
	text-align: left !important;
	font-weight: 900;
	padding: 10px 30px !important;
	color: rgb(218, 119, 193);
	border-radius: 4px;
	display: inline-block;
	margin-top: 25px !important;
}
.aboutRow {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	max-width: 100%;
}
.aboutCategory {
	text-decoration: black underline;
}
.aboutCategoryText {
	margin-right: 15px;
}
.contactButton{
	margin-top: 20px;
	border-radius: 20px;
	padding: 20px;background-image: url('../assets/images/header-background.jpg');
	background-repeat: no-repeat;
	color: rgb(218, 119, 193);;
	background-size: cover;
}
.LinkButton{
	border-radius: 20px;
	padding: 5px;background-image: url('../assets/images/header-background.jpg');
	background-repeat: no-repeat;
	color: rgb(218, 119, 193);
	background-size: cover;
	margin-right: 15px;
}
button:hover {
	background-color: white;
	color: rgb(218, 119, 193)
}
.Alex {
	width: 30vw;
}
.name {
	font-size: 2vw;
	text-align: left;
	background-color: gray;
	border-radius: 5px;
	color: white;
	padding: 10px 30px !important;
	margin-top: -10px;
}

.me {
	font-size: 1vw;
	text-align: justify;
	width: 90%;
	margin-right: 0px !important;
}

.columns {
	display: flex;
	justify-content: center;
	max-width: 100%;
}

@media (min-width: 320px) and (max-width: 991px) {
	.image {
		display: none;
    }
    .presentation {
        font-family: 'Raleway';
        text-align: left !important;
        font-weight: 900;
        padding: 10px 30px !important;
		color: rgb(218, 119, 193);
        border-radius: 4px;
        font-size: 20px;
        display: inline-block;
        margin-top: 25px !important;
    }
    .name {
        font-size: 2vw;
        text-align: left;
        background-color: gray;
        border-radius: 5px;
        color: white;
        width: 80vw;
        height: 70px;
        padding: 10px 30px !important;
	} 
	.me {
		font-size: 3vw;
		text-align: justify;
		max-width: 100%;
		margin-right: 0px !important;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.name {
        font-size: 2vw;
        text-align: left;
        background-color: gray;
        border-radius: 5px;
        color: white;
        width: 50vw;
        padding: 10px 30px !important;
	} 
	}