.contact{
    background-color: white !important;
}
#contact {
    padding: 20px;
    color: black
}
.contactHr {
    width: 50px;
    border-top: 1px solid white !important;
}
.lead{
    color: rgb(218, 119, 193);
    text-align: center;
    font-size: 25px !important;
    font-weight: bolder !important;
    margin-top: 25px !important;
    margin-bottom: 35px !important;
}
.form-group{
    max-width: 80%;
    padding: 0 0 0 20%;
    margin-bottom: 0 !important;
}

#exampleName,
#exampleEmail,
#exampleNumber {
    background: transparent;
    border: 2px solid white !important;
    color: white;
}
#exampleText {
    height: 300px;
    background: transparent;
    border: 2px solid white !important;
    color: white;
}
.buttonGroup{
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {

}