body{
  background:white;
}
.evenCarousel{
	display: flex;
	justify-content: center;
}
.title{
	margin-top: 40px !important;
}
.contactButton{
	border-radius: 4px;
	padding: 20px;
	background-color: rgb(218, 119, 193);
}
#ct{
  height:175px; 
  width: fit-content;
  border:1px solid pink;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position:relative;
  color:#fff;
  padding:35px;
  margin: 0 auto;
}
#quote {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0;
  bottom: -18px;
}
.divListPrestHBD {
  width: 35vw;
  margin: auto;
}
.ListPresta {
  list-style-type: circle;
  margin: auto;
}
.ListPresta > li {
  font-weight: 500;
}

#GenderRevealQuote {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0;
  bottom: -10px;
}
span{
  background:white;
  color: black;
  padding:0 10px;
  font-size:20px;
  position:relative; 
  bottom:-60px;
}
#carDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}
.corner{height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid #fff;
  transform:rotate(-45deg);  
  position:absolute;
  background:white;
}
.comItem {
  display: flex !important;
  flex-flow: column nowrap !important;
  align-items: stretch !important;
}
.comRow {
  width: 100% !important;
  margin-top: 20px;
}
.info {
  font-weight: 600;
}
.com {
  font-style: italic;
  padding: 15px;
}

#left_top{
  top:-16px;
  left:-16px;
  border-color:transparent transparent pink transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-color:transparent transparent transparent pink;
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-color:transparent pink transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-color: pink transparent transparent transparent;
}
p{padding-top:13px;font-size:18px; color:black;}

@media (max-width: 991px) {
  #iquote {
    font-size: 3vw !important;
  }
  .mobileSpan {
    bottom: -45px !important;
  }
}