.devContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/images/header-background.jpg');
	background-repeat: no-repeat;
	color: black;
	background-size: cover;
}

.devItem{
    color: black !important;
}

.devContent .logodev {
    max-width: 40px !important;
    min-width: 40px !important;
    margin-left: 30px;
  }

.footerLogo{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.scrollup{
    margin-top: 10px;
}

.arrowleft{
    margin-top: -45px !important;
    color: white;
    position: relative;
}

.medialogo{
    padding: 15px;
}