#footerRow {
    width: 100%;
}
.devContent{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-left: 20px;
}
#mobilePresta {
    display: none;
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: url('../assets/images/header-background.jpg');
	background-repeat: no-repeat;
	color: black;
	background-size: cover;
}
#prestDiv {
    display: flex;
    flex-flow: column nowrap;
}
#presta {
    width: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0px;
}
#presta a {
    color: black;
    width: fit-content;
}
.prestacard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 7vw;
    height: 150px;
    background: transparent !important;
    border: 0ch !important;
}
.divImg {
    padding-left: 1vw;
    padding-right: 1vw;
    max-height: 50%;
}
.cardImg{
    background-color: black;
}
.card-body {
    padding: 0px !important;
    width: 100%;
}
.cardTitle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.devTitle {
    padding-top: 15px;
    align-self: flex-start;
}
.devItem{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    color: black !important;
    width: 100%;
    font-size: 1vw;
    margin-right: 20px;
}
.devContent{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 25px;
    margin: 0px;
}
.devContent .logodev {
    max-width: 40px !important;
    min-width: 40px !important;
}
.devName {
    font-size: 1vw;
}
.devResponse {
    align-self: center;
}
.footerLogo{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.scrollup{
    margin-top: 10px;
}

.arrowleft{
    margin-top: -45px !important;
    color: white;
    position: relative;
}

.medialogo{
    padding: 15px;
}

@media (max-width: 991px) {
    #prestDiv {
        display: none;
    }
	#presta {
        display: none;
    }
    #mobilePresta {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .devTitle {
        align-self: center;
    }
    .contactButton {
        align-self: center;
        justify-content: center;
    }
    .contactButton:hover {
        background: none;
    }
    .contactButton:active {
        background: none;
    }
    .devName {
        font-size: 3vw;
    }
}
