body{
  background:white;
}
#ct{
  height:175px; 
  width: fit-content;
  border:1px solid pink;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position:relative;
  color:#fff;
  padding:35px;
  margin: 0 auto;
}
#quote {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0;
  bottom: -18px;
}
span{
  background:white;
  color: black;
  padding:0 10px;
  font-size:20px;
  position:relative; 
  bottom:-60px;
}
#carDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}
.tableButton {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 10%;
}
.corner{height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid #fff;
  transform:rotate(-45deg);  
  position:absolute;
  background:white;
}
.PrestationTableTh {
  width: 100%;
  text-align: center;
}
#mariagePrices {
  width: 80%;
}
.comItem {
  display: flex !important;
  flex-flow: column nowrap !important;
  align-items: stretch !important;
}
.comRow {
  width: 100% !important;
  margin-top: 20px;
}
.info {
  font-weight: 600;
}
.com {
  font-style: italic;
  padding: 15px;
}
.centeredItalic {
	text-align: center;
	font-style: italic;
}

#left_top{
  top:-16px;
  left:-16px;
  border-color:transparent transparent pink transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-color:transparent transparent transparent pink;
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-color:transparent pink transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-color: pink transparent transparent transparent;
}
p{
  padding-top:13px;
  font-size:18px; 
  color:black;
}
.contactButton{
	margin-top: 20px;
	border-radius: 20px;
	padding: 20px;background-image: url('../assets/images/header-background.jpg');
	background-repeat: no-repeat;
	color: rgb(218, 119, 193);
	background-size: cover;
}
/* page bientot dispo */
#soon {
  margin: auto;
  margin-bottom: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Page themes */
.themes{
  display: flex !important;
  flex-flow: column nowrap !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 20px;
}
.themeItem {
  display: flex !important;
  flex-flow: column nowrap !important;
  align-items: stretch !important;
  width: 80%;
  margin: 25px;
}
.themeTitle {
  align-self: center;
}
.themeDescRow, .themeTitle {
  width: fit-content;
}

/* page brunch */

#brunchQuote {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  bottom: -8px;
}
.brunchContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
#brunchPrices {
  margin-top: 30px;
  width: 30vw !important;
}

@media (max-width: 991px){
  .tableButton {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
  }
  /* page brunch */
  .brunchiquote, #iquote {
    font-size: 3vw !important;
  }
}