body{
  background:white;
}
#ct{
  height:fit-content; 
  width:fit-content;
  border:1px solid pink;
  margin: 100px auto;
  text-align:center;
  position:relative;
  color:#fff;
  padding:10px;
}
#quote {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px;
  padding: 0;
}
#carDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}
span{
  background:white;
  color: black;
  padding:0 10px;
  font-size:20px;
  position:relative; 
  top:-28px;
}
.corner{height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid #fff;
  transform:rotate(-45deg);  
  position:absolute;
  background:white;
}
.comItem {
  display: flex !important;
  flex-flow: column nowrap !important;
  max-width: 100%;
}
.comRow {
margin-top: 20px;
}
.info {
  font-weight: 600;
}
.com {
  font-style: italic;
  max-width: 100%;
  padding: 15px;
}

#left_top{
  top:-16px;
  left:-16px;
  border-color:transparent transparent pink transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-color:transparent transparent transparent pink;
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-color:transparent pink transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-color: pink transparent transparent transparent;
}
p{
  padding-top:13px;
  font-size:18px; 
  color:black;
}
.contactButton{
	margin-top: 20px;
	border-radius: 20px;
	padding: 20px;background-image: url('../assets/images/header-background.jpg');
	background-repeat: no-repeat;
	color: rgb(218, 119, 193);
	background-size: cover;
}
